In [0]:
#enumerate
some_list= {'foo','bar','baz'}

mapping = {}

for i, v in enumerate(some_list):
  mapping[v] = i

In [0]:
mapping

{'bar': 2, 'baz': 0, 'foo': 1}

In [0]:
#sorted

print(sorted([7,1,2,6,0,3,2]))
print(sorted('horse race'))

#zip: pairs up the elements of a # of lists, tuples, or other >> tuples

seq1 = ['foo', 'bar', 'baz']
seq2 = ['one','two','three']
zipped = zip(seq1, seq2)
print(list(zipped))

#zip can make the shortest seq

seq3 = [False, True]
print(list(zip(seq1,seq2,seq3)))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']
[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]
[('foo', 'one', False), ('bar', 'two', True)]

In [0]:
#common use of zip: iterating over multiple seqs

for i, (a,b) in enumerate(zip(seq1, seq2)):
  print('{0},{1},{2}'.format(i,a,b))

0,foo,one
1,bar,two
2,baz,three

In [0]:
#Unzipping (row -> col)

pitchers = [('Nolan','Ryan','Ray'),
            ('Roger','Clemens','Jim'),
            ('Sch','cur','Orilely')
            ]

First_Names, Middle_Names, Last_Names = zip(*pitchers)

In [0]:
print(First_Names)
print(Middle_Names)
print(Last_Names)

('Nolan', 'Roger', 'Sch')
('Ryan', 'Clemens', 'cur')
('Ray', 'Jim', 'Orilely')

In [0]:
#dict > hash map or associative array > key - value paris
empty_dict ={}
d1 = {'a':'some_value','b':[1,2,3,4]}

In [4]:
d1
d1[7]='an integer'
print(d1)

{'a': 'some_value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [0]:
7 in d1

del d1[7]

In [0]:
d1[5]='some value'
d1['dummy'] = 'another value'

In [0]:
ret = d1.pop('dummy') # equal to del d['dummy']

In [17]:
print(list(d1.keys()))
print(list(d1.values()))
d1.update({'b':'foo','c':12}) #change/add values
print(d1)

['a', 'b', 5]
['some_value', [1, 2, 3, 4], 'some value']
{'a': 'some_value', 'b': 'foo', 5: 'some value', 'c': 12}

In [0]:
#Creating dicts from sequences