Bubble sort recap

In [0]:
list = [5,8,10,-1,-10,100,50,90,45,64,7,\
        9,-20,-10,-1,0,255,500,-300,-256]

def MyBubble(list_data):
    cnt = len(list)
    if cnt < 2:
        return -1
    else:
        print("*length of list: %d" %cnt)
    for i in range(cnt,-1,-1):
        for j in range(0,i-1):
            if list_data[j] > list_data[j+1]:
              list_data[j+1],list_data[j] = list_data[j],list_data[j+1] # it works for python!
    return 0

MyList = [5,8,10,-1,-10,100,50,90,45,64,7,9,-20,-10,-1,0,255,500,-300,-256]

print("MyList")
print(MyList)
print("\nLet us bubble sort it")
MyBubble(MyList)
print(MyList)

MyList
[5, 8, 10, -1, -10, 100, 50, 90, 45, 64, 7, 9, -20, -10, -1, 0, 255, 500, -300, -256]

Let us bubble sort it
*length of list: 20
[-300, -256, -20, -10, -10, -1, -1, 0, 5, 7, 8, 9, 10, 45, 50, 64, 90, 100, 255, 500]

In [0]:
#Creating dicts from sequences
#mapping = {}
#for key, value in zip(key_list,value_list):
#  mapping[key] = value
# a collection of 2-tuples => dict
mapping = dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

Default values <br>
if key in some_dict: <br>
&nbsp;&nbsp;&nbsp;&nbsp; value = some_dic[key]<br>
else: <br>
&nbsp;&nbsp;&nbsp;&nbsp;value = default_value <br>

In [0]:
#categorized the first letters
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
      by_letter[letter] = [word]
    else:
      by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [0]:
#hashability
print(hash('string'))
print(hash((1,2,(2,3))))
print(hash(1,2,[2,3])) #Nope, coz of lists(they are mutable)

618580695967438963
1097636502276347782

TypeError: ignored

In [0]:
#set is like a dict but keys only
print(set([2,2,2,1,3,3,]))
#or
print({2,2,2,1,2,3,3,4,4,3,3})

{1, 2, 3}
{1, 2, 3, 4}

In [0]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [0]:
#union
a.union(b) # or a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [0]:
#intersection
a.intersection(b) # or a & b

{3, 4, 5}

In [0]:
#List, set, and dict comprehensions
#[expr for val in collection if condition]
#result = []
#for val in collection:
#  if condition:
#    result.append(expr)

strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [0]:
unique_lengths = {len(x) for x in strings}
unique_lengths
set(map(len,strings))

{1, 2, 3, 4, 6}

In [0]:
loc_mapping = {val:index for index, val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [0]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [0]:
#nested list comprehensions
#where is two or more 'e'?
names_of_interest = []
for names in all_data:
  enough_es = [name for name in names if name.count('e')>=2]
  names_of_interest.extend(enough_es)

names_of_interest

['Steven']

In [0]:
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [0]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

#same as 
#flattended = []
#for tup in some_tuples:
#     for x in tup:
#         flattended.append(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
     'south carolina##', 'West virginia?']

In [7]:
import re
#version 01
clean_strings(strings):
  result=[]
  for value in strings:
    value = value.strip()
    value = re.sub('[!#?]','',value)
    value = value.title()
    result.append(value)
  return result
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [8]:
#version 02
def remove_punctuation(value):
  return re.sub("[!#?]",'',value)

clean_ops = [str.strip,remove_punctuation,str.title]

def clean_strings(strings,ops):
  result=[]
  for value in strings:
    for function in ops:
      value = function(value)
    result.append(value)
  return result

clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']